<body>
  <header>
    <h1>Weather in <%= city %></h1>
  </header>

  <main>
      <ul>
        <h1>weather for <%= city %></h1> 
        <p>temperature: <%= temp %>°F</p> 
        <p>weather: <%= desc %></p> 
        <a href="/">home!
      </ul>
  </main>

</body>